@Master['Master']

@Section['Title']
   Vector Clock Node
@EndSection

@Section['Scripts']
<script src="@Path['~/Content/ClientApp.js']"></script>
@EndSection

@Section['Content']
Vector Clock Node

<div id="messageEditor">
    <input id="inputMessage" />
    <button id="buttonSendMessage">Send</button>
</div>

<div id="conflictEditor" style="display: none;">
    <input id="inputConflictResolveWith" />
    <button id="buttonConflictResolve">Resolve Conflict</button>
</div>

<div id="log"></div>

@EndSection